/*Font import links*/
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');


/*font import links*/
*{
    margin: 0;
    padding: 0;
    background-color: rgb(5, 0, 43);
    transition: 900ms;
}
body
{
min-height: 100vh;
}
html {
    scroll-behavior: smooth;
  }

#div1{
    position: fixed;
    color: white;
    border: 1px solid white;
    width: 400px;
    height: 710px;
    border: none;
    box-shadow: 0px 0px 100px rgba(28, 17, 187, 0.507);
    background-color:rgb(5, 0, 43);
    
}
#fnt{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
       top: 60px;
       left: 80px;
}
#title
{
    position: absolute;
    top: 150px;
    left: 50px;
    width: 350px;
    height: 70px;
    background-color:rgb(7, 28, 26);
    color: whitesmoke;
    border: none;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
}
#title:hover{
    letter-spacing: 3px;
    box-shadow:0px 0px 50px rgba(28, 17, 187, 0.507);
}
#title:active{
    background-color: whitesmoke;
}
#title1
{
    position: absolute;
    top: 260px;
    left: 50px;
    width: 350px;
    height: 70px;
    background-color:rgb(7, 28, 26);
    color: whitesmoke;
    border: none;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
}
#title1:hover{
    letter-spacing: 3px;
    box-shadow:0px 0px 50px rgba(28, 17, 187, 0.507);
}
#title1:active{
    background-color: whitesmoke;
}
#title2
{
    position: absolute;
    top: 370px;
    left: 50px;
    width: 350px;
    height: 70px;
    background-color:rgb(7, 28, 26);
    color: whitesmoke;
    border: none;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
}
#title2:hover{
    letter-spacing: 3px;
    box-shadow:0px 0px 50px rgba(28, 17, 187, 0.507);
}
#title2:active{
    background-color: whitesmoke;
}
#title3
{
    position: relative;
    top: 430px;
    left: 50px;
    width: 350px;
    height: 70px;
    background-color:rgb(7, 28, 26);
    color: whitesmoke;
    border: none;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
}
#title3:hover{
    letter-spacing: 3px;
    box-shadow:0px 0px 50px rgba(28, 17, 187, 0.507);
}
#title3:active{
    background-color: whitesmoke;
}
#title4
{
    position: relative;
    top: 470px;
    left: 50px;
    width: 350px;
    height: 70px;
    background-color:rgb(7, 28, 26);
    color: whitesmoke;
    border: none;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    letter-spacing: 2px;
    cursor: pointer;
}
#title4:hover{
    letter-spacing: 3px;
    box-shadow:0px 0px 50px rgba(28, 17, 187, 0.507);
}
#title4:active{
    background-color: whitesmoke;
}
#sd
{
    position: relative;
    top: 60px;
    left: 500px;
    border: 1px solid white;
    width: 850px;
    height: 600px;
    border-radius: 60px;
    background-color: rgb(7, 28, 26);
    border: none;
    
}
#sd:hover{
    box-shadow: 20px 10px 50px black;
}

#nm{
    position: absolute;
    left: 100px;
    top: 150px;
    padding: 18px;
    border-radius: 16px;
    border: none;
    background-color:whitesmoke;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
#nm:hover
{
    letter-spacing: 2px;
    box-shadow: 0px 0px 50px rgb(28, 17, 187);
}
#sn{
    position: absolute;
    left: 350px;
    top: 150px;
    padding: 18px;
    border-radius: 16px;
    border: none;
    background-color: whitesmoke;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
#sn:hover
{
    letter-spacing: 2px;
    box-shadow: 0px 0px 50px rgb(28, 17, 187);
}
#hd
{
    position: absolute;
    left: 320px;
    top: 50px;
    color: whitesmoke;
    font-size: 25px;
    background-color: rgb(7, 28, 26);
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
}
#nam
{
    position: absolute;
    left: 100px;
    top: 115px;
    color: whitesmoke;
    font-size: 20px;
    background-color: rgb(7, 28, 26);
    font-family: 'Montserrat', sans-serif;
}
#em
{
    position: absolute;
    left: 100px;
    top: 215px;
    color: whitesmoke;
    font-size: 20px;
    background-color: rgb(7, 28, 26);
    font-family: 'Montserrat', sans-serif;
}
#emf
{
    position: absolute;
    left: 100px;
    top: 250px;
    padding: 18px;
    width: 300px;
    border-radius: 16px;
    border: none;
    background-color:whitesmoke;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
#emf:hover
{
    letter-spacing: 2px;
    box-shadow: 0px 0px 50px rgb(28, 17, 187);
}
#ag1
{
    color: whitesmoke;
    position: absolute;
    left: 100px;
    top: 315px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(7, 28, 26);
}

#ag
{
    position: absolute;
    left: 100px;
    top: 348px;
    padding: 18px;
    width: 50px;
    border-radius: 16px;
    border: none;
    background-color:whitesmoke;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
#ag:hover
{
    letter-spacing: 2px;
    box-shadow: 0px 0px 50px rgb(28, 17, 187);
}
#mn
{
    position: absolute;
    left: 100px;
    top: 330px;
    background-color: rgb(7, 28, 26);
    font-family: 'Montserrat', sans-serif;
    
}
#mn:hover
{
    letter-spacing: 2px;
    box-shadow: 0px 0px 50px rgb(28, 17, 187);
}
#mn1
{
    color: whitesmoke;
    position: absolute;
    left: 100px;
    top: 315px;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(7, 28, 26);
}
#cd
{
    position: relative;
    top: 60px;
    left: 500px;
    border: 1px solid whitesmoke;
    width: 850px;
    height: 600px;
    border-radius: 60px;
    background-color: rgb(7, 28, 26);
    border: none;

}
#cd:hover{
    box-shadow: 20px 10px 50px black;
}
#ed
{
    position: relative;
    top: 120px;
    left: 500px;
    border: 1px solid whitesmoke;
    width: 850px;
    height: 600px;
    border-radius: 60px;
    background-color: rgb(7, 28, 26);
    border: none;
    
}
#ed:hover{
    box-shadow: 20px 10px 50px black;
}
#dp
{
    position: relative;
    top: 120px;
    left: 500px;
    border: 1px solid whitesmoke;
    width: 850px;
    height: 600px;
    border-radius: 60px;
    background-color: rgb(7, 28, 26);
    border: none;
    
}
#dp:hover{
    box-shadow: 20px 10px 50px black;
}
#sb
{
    position: relative;
    top: 120px;
    left: 500px;
    border: 1px solid whitesmoke;
    width: 850px;
    height: 600px;
    border-radius: 60px;
    background-color: rgb(7, 28, 26);
    border: none;
    
}
#sb:hover{
    box-shadow: 20px 10px 50px black;
}
#ft{
    position: relative;
    top: 120px;
    left: 500px;
    border: 1px solid  rgb(5, 0, 43);
    width: 850px;
    border-radius: 60px;
    background-color: rgb(1, 18, 16);
    border: none;
}
.container{
    background-color:rgb(1, 18, 16) ;
    height: 50px;
    width: 130px;
    left: 470px;
    top: 240px;
    position: relative;
  }
  .container .wrapper{
    position: relative;
    height: 160px;
    width: 100%;
    border-radius: 10px;
    background: #fff;
    border: 2px dashed #c2cdda;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border: none;

  }
  .container .wrapper:hover
  {
    box-shadow: 0px 0px 50px rgb(28, 17, 187);
  }
  .wrapper.active{
    border: none;
  }
  .wrapper .image{
    position: absolute;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
  }
  .wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    background-color: whitesmoke;
  }
  .wrapper .icon{
    font-size: 100px;
    color: #9658fe;
  }
  .wrapper .text{
    font-size: 20px;
    font-weight: 500;
    color: #5B5B7B;
  }
  .wrapper #cancel-btn i{
    position: absolute;
    font-size: 20px;
    right: 15px;
    top: 15px;
    color: #9658fe;
    cursor: pointer;
    display: none;
  }
  .wrapper.active:hover #cancel-btn i{
    display: block;
  }
  .wrapper #cancel-btn i:hover{
    color: #e74c3c;
  }
  .wrapper .file-name{
    position: absolute;
    bottom: 0px;
    width: 100%;
    padding: 8px 0;
    font-size: 18px;
    color: #fff;
    display: none;
    background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
  }
  .wrapper.active:hover .file-name{
    display: block;
  }
  .container #custom-btn{
    margin-top: 25px;
    display: block;
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    color: #fff;
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    cursor: pointer;
    background: linear-gradient(135deg,#3a8ffe 0%,#9658fe 100%);
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
  }
  .container #custom-btn:hover{
    box-shadow: 0px 0px 50px rgb(28, 17, 187);
  }
  #ad{
    position: absolute;
    left: 100px;
    top: 150px;
    width: 160px;
    padding: 18px;
    border-radius: 16px;
    border: none;
    background-color:whitesmoke;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
  }
  #ad:hover
{
    letter-spacing: 2px;
    box-shadow: 0px 0px 50px rgb(28, 17, 187);
}
#da{
    position: absolute;
    left: 350px;
    top: 150px;
    width: 300px;
    padding: 18px;
    border-radius: 16px;
    border: none;
    background-color: whitesmoke;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
#da:hover
{
    letter-spacing: 2px;
    box-shadow: 0px 0px 50px rgb(28, 17, 187);
}
#mn{
    position: absolute;
    left: 100px;
    top: 348px;
    padding: 18px;
    width: 80px;
    border-radius: 16px;
    border: none;
    background-color:whitesmoke;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
#sc{
    position: absolute;
    left: 100px;
    top: 150px;
    width: 200px;
    padding: 18px;
    border-radius: 16px;
    border: none;
    background-color:whitesmoke;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
  }
  #sc:hover
{
    letter-spacing: 2px;
    box-shadow: 0px 0px 50px rgb(28, 17, 187);
}
#sa{
    position: absolute;
    left: 400px;
    top: 150px;
    width: 300px;
    padding: 18px;
    border-radius: 16px;
    border: none;
    background-color: whitesmoke;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
#sa:hover
{
    letter-spacing: 2px;
    box-shadow: 0px 0px 50px rgb(28, 17, 187);
}
#ii{
    position: absolute;
    left: 100px;
    top: 315px;
    color: whitesmoke;
    font-size: 20px;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(7, 28, 26);
}

#rn
{
    position: absolute;
    left: 100px;
    top: 355px;
    width: 250px;
    padding: 18px;
    border-radius: 16px;
    border: none;
    background-color: whitesmoke;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
#rn:hover
{
    letter-spacing: 2px;
    box-shadow: 0px 0px 50px rgb(28, 17, 187);
}
#regn
{
    position: absolute;
    left: 100px;
    top: 425px;
    width: 250px;
    padding: 18px;
    border-radius: 16px;
    border: none;
    background-color: whitesmoke;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
#regn:hover
{
    letter-spacing: 2px;
    box-shadow: 0px 0px 50px rgb(28, 17, 187);
}
#rno{
    position: absolute;
    left: 100px;
    top: 495px;
    width: 250px;
    padding: 18px;
    border-radius: 16px;
    border: none;
    background-color: whitesmoke;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
#rno:hover
{
    letter-spacing: 2px;
    box-shadow: 0px 0px 50px rgb(28, 17, 187);
}
#s1{
    border: 1px solid white;
    position: absolute;
    top: 200px;
    left: 90px;
    width: 250px;
    height: 325px;    
    border-radius: 20px;
    background-color: whitesmoke;
    border: none;
    box-shadow: 0px 0px 30px rgb(28, 17, 187) ;
}
#s1:hover
{
    transform: scale(1.2);
    z-index: 1;
}

#s2{
    border: 1px solid white;
    position: absolute;
    top: 200px;
    left: 300px;
    width: 250px;
    height: 325px;    
    border-radius: 20px;
    background-color: whitesmoke;
    border: none;
    box-shadow: 0px 0px 30px rgb(28, 17, 187) ;
}
#s2:hover
{
    transform: scale(1.2);
    z-index: 1;
}

#s3{
    border: 1px solid white;
    position: absolute;
    top: 200px;
    left: 510px;
    width: 250px;
    height: 325px;    
    border-radius: 20px;
    background-color: whitesmoke;
    border: none;
    box-shadow: 0px 0px 30px rgb(28, 17, 187) ;
}
#s3:hover
{
    transform: scale(1.2);
    z-index: 1;
}
#one
{
    position: absolute;
    top: -45px;
    left:40%;
    color: whitesmoke;
    background-color: rgb(7, 28, 26);
    font-family: 'Montserrat', sans-serif;
   
}
#two
{
    position: absolute;
    top: -45px;
    left:30%;
    color: whitesmoke;
    background-color: rgb(7, 28, 26);
    font-family: 'Montserrat', sans-serif;
    
}
#three
{
    position: absolute;
    top: -45px;
    left:38%;
    color: whitesmoke;
    background-color: rgb(7, 28, 26);
    font-family: 'Montserrat', sans-serif;
    
}