<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href=" /stylesheets/s_dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
    </style>
    <script src=" /javascripts/bs_dashboard.js"></script>
</head>
<body>
    <div class="topbar">
        <a onclick="toggleGoLiveDivs()" class="atagforvideo"><i class="videoicon"></i>
            <img src=" /images/video-camera-dynamic-gradient.png" class="videoicon"></a>
        <label onclick="toggleGoLiveDivs()" class="golive">Go Live</label>
        <a onclick="toggleSchedulesDivs()" class="atagforshedules"><i class="Scheduleicon"></i>
        <img src=" /images/clock-dynamic-gradient.png" alt="ImageHere" class="Scheduleicon"></a>
        <label class="Schedules" onclick="toggleSchedulesDivs()">Schedules</label>
        <a onclick="toggleCoursesDivs()" class="atagforcourses"><i class="courseicon"></i>
        <img src=" /images/notebook-dynamic-gradient.png" alt="ImageHere" class="courseicon"></a>
        <label class="courses" onclick="toggleCoursesDivs()">Courses</label>
        <a class="atagforassignment" onclick="toggleAssignmentsDivs()" ><i class="assingmenticon"></i>
        <img src=" /images/pencil-dynamic-gradient.png"  alt="ImageHere" class="assingmenticon"></a>
        <label class="assignments" onclick="toggleAssignmentsDivs()">Assignments</label>
        <a class="atagforprfile" onclick="toggleProfileDivs()"><i class="profileicon"></i>
        <img src=" /images/boy-dynamic-gradient.png" alt="IconHere" class="profileicon"></a>
        <label class="myprofile" onclick="toggleProfileDivs()">My Profile</label>
    </div>
    <div class="organizationimage"></div>
    <label class="organizationname">Org NameHere</label>
    <label class="studentname">hello,<%= name %></label>
    <div class="mainbox">
        <div class="onetoone" id="one">
            <label class="onetooneheading">OneToOne</label>
            <img src=" /images/boy-dynamic-color.png" alt="Icon here" class="onetooneicon">
            <img src=" /images/forward-dynamic-color.png" alt="ImageHere" class="arrowicon">
            <img src=" /images/girl-dynamic-color.png" alt="IconHere" class="onetooneicon1">
        </div> 
        <div class="group" id="two">
            <label class="groupheading">Group Meeting</label>
            <img src=" /images/boy-dynamic-color.png" alt="IconHere" class="groupicon">
            <img src=" /images/girl-dynamic-color.png" alt="IconHere" class="groupicon1">
            <img src=" /images/forward-dynamic-color.png" alt="ImageHere" class="arrowicon1">
            <img src=" /images/boy-dynamic-color.png" alt="ImageHere" class="groupicon2">
            <img src=" /images/girl-dynamic-color.png" alt="IconHere" class="groupicon3">
        </div>
        <div class="timetable" id="timetable">
            <label class="onetooneheading">Timetable</label>
        </div>
        <div class="calender" id="calender">
            <img src=" /images/calender-dynamic-color.png" class="calendericon" alt="icon here">

        </div>
        <div class="videocourses" id="videocourses">
            <label class="videocoursesheading">Video Courses</label>
            <div class="video-container" id="video-container">
                <div class="flex-videos" id="videos">video1</div>
                <div class="flex-videos" id="videos">Video2</div>
                <div class="flex-videos" id="videos">Video3</div>
                <div class="flex-videos" id="videos">Video4</div>
                <div class="flex-videos" id="videos">Video5</div>
                <div class="flex-videos" id="videos">Video6</div>
                <div class="flex-videos" id="videos">Video7</div>
                <div class="flex-videos" id="videos">Video8</div>
                <div class="flex-videos" id="videos">Video9</div>
                <div class="flex-videos" id="videos">Video4</div>
                <div class="flex-videos" id="videos">Video5</div>
                <div class="flex-videos" id="videos">Video6</div>
                <div class="flex-videos" id="videos">video1</div>
                <div class="flex-videos" id="videos">Video2</div>
                <div class="flex-videos" id="videos">Video3</div>
                <div class="flex-videos" id="videos">Video4</div>
                <div class="flex-videos" id="videos">Video5</div>
                <div class="flex-videos" id="videos">Video6</div>
                <div class="flex-videos" id="videos">Video7</div>
                <div class="flex-videos" id="videos">Video8</div>
                <div class="flex-videos" id="videos">Video9</div>
                <div class="flex-videos" id="videos">Video4</div>
                <div class="flex-videos" id="videos">Video5</div>
                <div class="flex-videos" id="videos">Video6</div>
                <div class="flex-videos" id="videos">video1</div>
                <div class="flex-videos" id="videos">Video2</div>
                <div class="flex-videos" id="videos">Video3</div>
                <div class="flex-videos" id="videos">Video4</div>
                <div class="flex-videos" id="videos">Video5</div>
                <div class="flex-videos" id="videos">Video6</div>
                <div class="flex-videos" id="videos">Video7</div>
                <div class="flex-videos" id="videos">Video8</div>
                <div class="flex-videos" id="videos">Video9</div>
                <div class="flex-videos" id="videos">Video4</div>
                <div class="flex-videos" id="videos">Video5</div>
                <div class="flex-videos" id="videos">Video6</div>
                <div class="flex-videos" id="videos">Video2</div>
                <div class="flex-videos" id="videos">Video3</div>
                <div class="flex-videos" id="videos">Video4</div>
                <div class="flex-videos" id="videos">Video5</div>
                <div class="flex-videos" id="videos">Video6</div>
                <div class="flex-videos" id="videos">Video7</div>
                <div class="flex-videos" id="videos">Video8</div>
                <div class="flex-videos" id="videos">Video9</div>
                <div class="flex-videos" id="videos">Video4</div>
                <div class="flex-videos" id="videos">Video5</div>
                <div class="flex-videos" id="videos">Video6</div>
                <div class="flex-videos" id="videos">video1</div>
                <div class="flex-videos" id="videos">Video2</div>
                <div class="flex-videos" id="videos">Video3</div>
                <div class="flex-videos" id="videos">Video4</div>
                <div class="flex-videos" id="videos">Video5</div>
                <div class="flex-videos" id="videos">Video6</div>
                <div class="flex-videos" id="videos">Video7</div>
                <div class="flex-videos" id="videos">Video8</div>
                <div class="flex-videos" id="videos">Video9</div>
                <div class="flex-videos" id="videos">Video4</div>
                <div class="flex-videos" id="videos">Video5</div>
                <div class="flex-videos" id="videos">Video6</div>
            </div>
            <label id="expand" onclick="expanddivs()"><img src=" /images/play-dynamic-color.png" alt="IconHere" class="expandicon"></label>
            <label id="close" onclick="closedivs()">Close</label>
        </div>
        
        
        <div class="mylibrary" id="mylibrary">
            <div class="Library-container" id="Library-container">
                <div class="books" id="books">Telugu</div>
                <div class="books" id="books">Maths</div>
                <div class="books" id="books">Physics</div>
                <div class="books" id="books">Social</div>
                <div class="books" id="books">Hindi</div>
                <div class="books" id="books">Physics</div>
                <div class="books" id="books">demo</div>
                <div class="books" id="books">demo</div>

            </div>
            <label id="expandlibrary" onclick="expandlibrary()"><img src=" /images/play-dynamic-color.png" alt="IconHere" class="expandicon"></label>
            <label id="closelibrary" onclick="closelibrary()">Close</label>
            <label class="videocoursesheading">My Library</label>
        </div>
        <div class="writenotes" id="writenotes">
        </div>
        <div class="analysisreport" id="analysisreport">
            <label id="expandanalysisreport" onclick="expandanalysisreport()"><img src=" /images/play-dynamic-color.png" alt="IconHere" class="expandicon"></label>
            <label id="closeanalysisreport" onclick="closeanalysisreport()">Close</label>
            <label class="videocoursesheading">My Analysis Report</label>
        </div>
        <div class="examscores" id="examscores">
            <div class="scores-container" id="scores-container">
                <div class="scores" id="scores">Test1</div>
                <div class="scores" id="scores">Test2</div>
                <div class="scores" id="scores">Test3</div>
                <div class="scores" id="scores">Test4</div>
            </div>
            <label id="expandexamscores" onclick="expandexamscores()"><img src=" /images/play-dynamic-color.png" alt="IconHere" class="expandicon"></label>
            <label id="closeexamscores" onclick="closeexamscores()">Close</label>
            <label class="videocoursesheading">My Exam Scores</label>
        </div>
        <div class="examschedule" id="examschedule">
            <label id="expandexamschedule" onclick="expandexamschedule()"><img src=" /images/play-dynamic-color.png" alt="IconHere" class="expandicon"></label>
            <label id="closeexamschedule" onclick="closeexamschedule()">Close</label>
            <label class="examschedulehead">My Exam Schedule</label>
        </div>
        <div class="parentdetails" id="parentdetails">
            <label id="expandparentdetails" onclick="expandparentdetails()"><img src=" /images/play-dynamic-color.png" alt="IconHere" class="expandicon"></label>
            <label id="closeparentdetails" onclick="closeparentdetails()">Close</label>
            <label class="headforparentdetails">Parent details</label>
        </div>
        <div class="subscriptiondetails" id="subscriptiondetails">
            <label id="expandsubscriptiondetails" onclick="expandsubscriptiondetails()"><img src=" /images/play-dynamic-color.png" alt="IconHere" class="expandicon"></label>
            <label id="closesubscriptiondetails" onclick="closesubscriptiondetails()">Close</label>
            <label class="headforsubcription">Your SubscriptionDetails</label>
        </div>
        <div class="paymenthistory" id="paymenthistory">
            <label id="expandpaymenthistory" onclick="expandpaymenthistory()"><img src=" /images/play-dynamic-color.png" alt="IconHere" class="expandicon"></label>
            <label id="closepaymenthistory" onclick="closepaymenthistory()">Close</label>
            <label class="headforpaymenthistory">Payment History</label>
        </div>
        <div class="profiledetails" id="profiledetails">
            <div class="Studentdetailss">
                <img src=" /images/boy-dynamic-color.png" class="profileicon"   alt="ProfileHere" style="width: 100px; position: absolute; left: 10%;">
            </div>
            <div class="studentdetails">
                <div class="details"><%= name %></div>
                <div class="details"><%= email %></div>
                <div class="details"><%= regno %></div>
            </div>
                
            <label id="expandprofiledetails" onclick="expandprofiledetails()"><img src=" /images/play-dynamic-color.png" alt="IconHere" class="expandicon"></label>
            <label id="closeprofiledetails" onclick="closeprofiledetails()">Close</label>
            <label class="examschedulehead">Your Details</label>
        </div>
    </div>
   
</body>
</html>