<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LoginHere</title>
    <link rel="stylesheet" href="/stylesheets/s_login.css">
    <script src="/javascripts/s_login.js"></script>
</head>
<body>
<div id="div1">
    <img src="https://media.licdn.com/dms/image/C510BAQGgidsyseuHGA/company-logo_200_200/0/1554902753795?e=2147483647&v=beta&t=ldItYjVK7zUsF9plobfuwr4ddTYF5ra2kx-Un3munHM" alt="logohere" id="logo">
    <p id="hname">MychoiseMytutor</p>
    <form action="/s_login" method="post">
    <input type="password" name="age" placeholder="Password" id="if1" >
    <input type="email" id="if" name="email" placeholder="Email">
    <button type="submit" id="sub" >login</button>
</form>
    <button id="fp" type="button">forgot?</button>
    <input id="sp"type="checkbox" onclick="myFunction()">
    <label id="spl">ShowPassword!</label></div>
<div id="div2"><p id="con">learn with Ai</p><p id="con1">MychoiseMytutor</p><p id="con2">Is Welcoming You!</p></div>
</body>
</html>