<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/t_dashboard.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <style>
    </style>
    <script src="/javascripts/t_dashboard.js"></script>
</head>
<body>
    <div class="topbar">
        <a onclick="toggleGoLiveDivs()" class="atagforvideo"><i class="fa-solid fa-video"></i></a>
        <label onclick="toggleGoLiveDivs()" class="golive" id="golive">Go Live</label>
        <a onclick="toggleSchedulesDivs()" class="atagforshedules"><i class="fa-solid fa-layer-group"></i></a>
        <label class="Schedules" onclick="toggleSchedulesDivs()" id="Schedules">Schedules</label>
        <a onclick="toggleCoursesDivs()" class="atagforcourses"><i class="fa-solid fa-graduation-cap"></i></a>
        <label class="courses" onclick="toggleCoursesDivs()" id="courses">Courses</label>
        <a class="atagforassignment" onclick="toggleAssignmentsDivs()"><i class="fa-solid fa-pen"></i></a>
        <label class="assignments" onclick="toggleAssignmentsDivs()" id="assignments">Assignments</label>
        <a class="atagforprfile" onclick="toggleProfileDivs()"><i class="fa-solid fa-user"></i></a>
        <label class="myprofile" onclick="toggleProfileDivs()" id="myprofile">My Profile</label>
    </div>
    <div class="mainbox">
        <div class="onetoone" id="one">
            <label class="onetooneheading">    OneToOne</label>
            <img src="meeting (1).png" alt="Icon here" class="onetooneicon">
        </div> 
        <div class="group" id="two">
            <label class="groupheading">Group Meeting</label>
            <i class="fa-solid fa-tower-broadcast"></i>
        </div>
        <div class="onetoone" id="onec" style="position: absolute;top: 51%;">
            <label class="onetooneheading1">Create OneToOne</label>
            <img src="meeting (1).png" alt="Icon here" class="onetooneicon">
        </div> 
        <div class="group" id="twoc" style="position: absolute;top: 51%;">
            <label class="groupheading1"> Create Group Meeting</label>
            <i class="fa-solid fa-tower-broadcast"></i>
        </div>
        
        <div class="timetable" id="timetable">
            <label class="timetablehreading">Timetable</label>
        </div>
        <div class="calender" id="calender">
            <label class="calenderheading">Calendar</label>
        </div>
        <div class="videocourses" id="videocourses">
            <label class="videocoursesheading">Video Courses</label>
            <label id="expand" onclick="expanddivs()">Viewmore</label>
            <label id="close" onclick="closedivs()">Close</label>
        </div>
        <div class="mylibrary" id="mylibrary">
            <label class="videocoursesheading">My Library</label>
            <label id="expandlibrary" onclick="expandlibrary()">Viewmore</label>
            <label id="closelibrary" onclick="closelibrary()">Close</label>
        </div>
        <div class="writenotes" id="writenotes">
        </div>
        <div class="analysisreport" id="analysisreport">
            <label class="videocoursesheading">My Analysis Report</label>
            <label id="expandanalysisreport" onclick="expandanalysisreport()">Viewmore</label>
            <label id="closeanalysisreport" onclick="closeanalysisreport()">Close</label>
        </div>
        <div class="examschedule" id="examschedule">
            <label class="examschedulehead">My Exam Schedule</label>
            <label id="expandexamschedule" onclick="expandexamschedule()">Viewmore</label>
            <label id="closeexamschedule" onclick="closeexamschedule()">Close</label>
        </div>
        <div class="assignments" id="assignments">
           
        </div>
        <div class="subscriptiondetails" id="subscriptiondetails">
            <label class="headforsubcription">Your SubscriptionDetails</label>
            <label id="expandsubscriptiondetails" onclick="expandsubscriptiondetails()">Viewmore</label>
            <label id="closesubscriptiondetails" onclick="closesubscriptiondetails()">Close</label>
        </div>
        <div class="paymenthistory" id="paymenthistory">
            <label class="headforpaymenthistory">Payment History</label>
            <label id="expandpaymenthistory" onclick="expandpaymenthistory()">Viewmore</label>
            <label id="closepaymenthistory" onclick="closepaymenthistory()">Close</label>
        </div>
        <div class="profiledetails" id="profiledetails">
            <label class="examschedulehead">Your Details</label>
            <label id="expandprofiledetails" onclick="expandprofiledetails()">Viewmore</label>
            <label id="closeprofiledetails" onclick="closeprofiledetails()">Close</label>
        </div>
    </div>
   
</body>
</html>
